* {
  box-sizing: border-box;
}

body {
  color: #222;
  background-image: url('./public/sky.jpg')
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

}

main {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;

}